@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kategori Sil</h2>
            <hr />
        </div>
        @* <div asp-validation-summary="ModelOnly"></div> *@
        <div class="row mb-3">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="row mb-3">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-dangers form-control" style="width:150px">Sil</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control" style="width:150px">
                    Listeye Dön
                </a>
            </div>
        </div>


    </div>
</form>