@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Sipariş Başarıyla Oluşturuldu!</h1>
        Sipariş Numarası : @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        @* Sipariş başarıyla oluşturuldu! <br /> *@
    </div>

</div> 